.list__container {
  padding: 0 20px;

  .list__title {
    font-weight: bold;
    color: white;
  }

  .list__content {
    display: flex;
    color: #fff;
    overflow-x: scroll;

    h3 {
      font-size: 15px;
    }
  }
}
